<div class = "product-beer">
    <img class = "product-image" src="{{image_url}}" alt="beer image">
    <h1 class = "beer-name"><a href = 'beers/beer={{id}}'>{{name}}</a></h1>
    <h2>{{tagline}}</h2>
    <p>{{description}}</p>
</div>